*.json
*.filters
*.user
*.txt
*.sln
*.vcxproj
*.o
*.vs
*.dll
*.obj
*.iobj
*.ilk
*.ipdb
*.pdb
*.idb
*.log
*.tlog
*.lib
*.recipe

BankSystem/.vs
BankSystem/Debug/**
OpenGLExtra/**
OpenGL/CGOpenGLExample/include/Mesh/**
OpenGL/CGOpenGLExample/include/Canvas/**
OpenGL/CGOpenGLExample/include/Traffic/**
OpenGL/CGOpenGLExample/include/GLFW/**
OpenGL/CGOpenGLExample/include/GL/**

